---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log('This runs in your terminal, not the browser!');
---
<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<html>
  <body>
    <a href="/">home</a>
    <a href="/about/">about</a>
    <a href="/blog/">blog</a>
    <h1>We are Open Umbrella Studios</h1>
    <p>We are a multi disciplined team of developers and designers interested in building the internet of the future. One with sustainablility and functionality top of mind.</p>
  </body>
</html>
<style>
  h1 {
    color: mediumorchid;
  }
</style>
