
---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log('This runs in your terminal, not the browser!');
---
<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<html>
  <body>
    <a href="/">home</a>
    <a href="/about/">about</a>
    <a href="/blog/">blog</a>
    <h1>The Open Umbrella blog</h1>
    <p>There is going to be some mediocre content here at some point in the future.</p>
  </body>
</html>
<style>
  h1 {
    color: mediumorchid;
  }
</style>
