---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log('This runs in your terminal, not the browser!');
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';
import "../styles/global.css";
const pageTitle = 'Open Umbrella Landing Page';
---
<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Navigation />
    <h1>Hello, Open Umbrella maybe?!</h1>
    <Footer />
  </body>
</html>
<style>
  h1 {
    color: mediumorchid;
  }
</style>
