---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log("This runs in your terminal, not the browser!");
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Open Umbrella Landing Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Open Umbrella Landing Page</h1>
  <h2>My awesome blog subtitle</h2>
</BaseLayout>
